In [2]:
import pandas_datareader.data as web

df = web.DataReader('7203.JP', 'stooq')
df.tail()

               Open     High      Low    Close    Volume
Date
2020-10-06  1238.33  1251.77  1234.39  1247.11  26279586
2020-10-05  1250.69  1251.59  1234.21  1238.33  22468929
2020-10-02  1240.30  1255.17  1229.90  1235.11  27310640
2020-09-30  1256.42  1268.80  1241.91  1242.46  30419980
2020-09-29  1272.39  1283.32  1266.84  1274.88  32617663